body {
    font-weight: 400;
}

.list-group .list-group-item .row-action-primary {
    color: inherit;
}

.list-group .list-group-item .row-action-primary .btn {
    background: rgba(0,0,0,.25);
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.navbar .navbar-nav>li i {
    font-size: 20px;
    position: relative;
    top: 3px;
}

.badge {
    color: #428bca;
    background-color: rgba(255,255,255,.84);
}

.back-to-top {
    position: fixed;
    opacity: 0.6;
    bottom: 2em;
    right: 20px;
    text-decoration: none;
    display: none;
}

.hide {
    display: none;
}

.highlight pre {
    word-wrap: inherit;
}
