@media (min-width: 768px) { 
    .container .row { 
        margin-right: 0px;
        margin-left: 0px;
    }
}

.page-header {
    padding-right: 15px;
    padding-left: 15px;
}

.btn-xs {
    font-size: 10px;
}

.metahead {
    margin-top: -5px;
    margin-bottom: 15px;
}

.metabottom {
    margin-top: 15px;
}

.article-buffer {
    margin-bottom: 40px; 
}
