{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}
{% block content %}
<div class='span12'>
 <div class="page-header"><h1>{{ article.title }}</h1></div>
 <div class="well well-small">{% include "metadata.html" %}</div> 
  <div>{{ article.content }}</div>
  {% if article.tags %}
  	<ul class="inline-block text-right">
		<i class="icon-tags"></i>
			{% for tag in article.tags %}
				<il><small><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></small></li>
			{% endfor %}
  	</p>
  {% endif %}
  <hr>
  <div class="well well-small">
	{% if DISQUS_SITENAME %}
	<h2>Comments</h2>
	<div id="disqus_thread">
	</div>
	{% endif %}
  </div>
</div>	
{% endblock %}
