{% extends "base.html" %}
{% block headtitle %}{{ article.title }}{% endblock %}
{% block headkeywords %}{{ article.tags |join(', ') }}{% endblock %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    {{ article.content }}
    {% if article.tags %}
  	<div class="inline-block text-right">
		<i class="icon-tags"></i>
		{% for tag in article.tags %}
			<a class="btn btn-xs btn-primary" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
		{% endfor %}
  	</div>
    {% endif %}
    <hr>
    {% if DISQUS_SITENAME %}
	<h2>Comments</h2>
	<div id="disqus_thread">
	</div>
	{% endif %}
{% endblock %}
