<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{{ SITENAME }} - {% block headtitle %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="keywords" content="{% block headkeywords %}{% endblock %}">
	<meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if FEED_ATOM %}
	    <link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
	{% endif %}
	{% if FEED_RSS %}
	    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}
	
	<link href="{{ SITEURL }}/theme/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/font-awesome.min.css" rel="stylesheet">
    <!--script src="{{ SITEURL }}/theme/highlight/run_prettify.js?lang=css&skin=sunburst"></script-->
    <script src="{{ SITEURL }}/theme/syntax/shCore.js" type="text/javascript"></script>
    <script src="{{ SITEURL }}/theme/syntax/shAutoloader.js" type="text/javascript"></script>
    <link href="{{ SITEURL }}/theme/syntax/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="{{ SITEURL }}/theme/syntax/styles/shThemeRDark.css" rel="stylesheet" type="text/css" />
    
	{% include "analytics.html" %}
	{% include "disqus.html" %}
</head>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<body>
<div class="container-fluid">
	<div class="head">
		<div class="row-fluid">
		        <h1 class="muted">{{ SITENAME }} - <small>{% block title %}{% endblock %}</small></h1>
		</div>
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span8">
				{% include "_navbar.html" %}
			</div>
			<div class="span2"></div>
		</div>
	</div>
	

	<div class="container-fluid">
        <div class="row-fluid">
			<div class="span2 well well-small">
				{% include "_sidebar-left.html" %}
			</div>
			<div class="span8">
				{% block content %}{% endblock %}
                        </div>
			<div class="span2 well well-small">
				{% include "_sidebar-right.html" %}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span2">
			</div>
				<div class="span8 well well-small">
					{% block pagination%}{% endblock %}
	        			<div class="text-center">
						<p>Powered by <a href="http://alexis.notmyidea.org/pelican/">Pelican</a>, <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>, <a href="http://glyphicons.com/">Glyphicons</a> and <a href="http://bootswatch.com/">Bootswatch</a></p>
						<p>&copy; {{ AUTHOR }} 2013</p>
		        		</div>
				</div>
			<div class="span2">
			</div>
		</div>
	</div>
	
	<hr>

    <script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/bootstrap/js/jquery-2.0.0.min.js"><\/script>')</script>
    <script src="{{ SITEURL }}/theme/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
            SyntaxHighlighter.autoloader(
                'shell  {{ SITEURL }}/theme/syntax/shBrushBash.js',
                'python {{ SITEURL }}/theme/syntax/shBrushPython.js',
                'js     {{ SITEURL }}/theme/syntax/shBrushJScript.js',
                'html   {{ SITEURL }}/theme/syntax/shBrushXml.js'
            );
            SyntaxHighlighter.vars.discoveredBrushes = null;
            SyntaxHighlighter.all()
    </script>
        

</div>
</body>
</html>
